.single-video-page__wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: start;
  background-color: #052231;
}
@media (max-width: 1200px) {
  .single-video-page__wrapper {
    grid-template-columns: none;
    grid-template-rows: 40rem 1fr;
    place-items: center;
    place-content: center;
  }
}
@media (max-width: 700px) {
  .single-video-page__wrapper {
    grid-template-columns: none;
    grid-template-rows: 20rem 1fr;
    place-items: center;
    place-content: center;
  }
}
@media (max-width: 650px) {
  .single-video-page__wrapper {
    grid-template-columns: none;
    grid-template-rows: 30rem 1fr;
    place-items: center;
    place-content: center;
  }
}
.video-wrapper {
  position: sticky;
  top: 3rem;
  background-color: #052231;
  padding: 1rem;
  border-radius: 5px;
}
.video-listing-column__wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 700px) {
  .video-listing-column__wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.video-size__wrapper {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
}
.single-video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.iframe {
  overflow: hidden;
  border: 0;
  align-self: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-video__interaction-bar {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
}
.single-video__interaction-bar__icons span {
  margin: 1rem;
  align-items: center;
}
.single-video-icon {
  font-size: 1.5rem;
}
.single-video-author {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.watch-later__button {
  background: none;
  border: none;
  color: white;
}
