@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,800&display=swap");

* {
  /* color: whitesmoke; */
}
/* ==============   Navigation    =================== */

/* ============== Grid Wrapper    =================== */
.grid-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 35rem 1fr;
  margin-bottom: 2rem;
  background-color: #052231;
}

/* Video Thumbnails */
videoRow {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
}
